body {
    margin: 0;
}

.flex-box {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-content: space-between;
    gap: 10px;
}

.flex-box>div {
    height: 50px;
    background-color: blue;
    flex-grow: 1;
    display: flex;
}

.flex-box.item-1, .flex-box.item-3 {
    width: 100%;
}
.flex-box .item-2 {
    width: 20em;
    align-self: flex-end;
}
