<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <%- include('../partials/header.ejs') %>

    <div>
        <div class="posts-container">
            <%- include('../partials/posts.ejs') %>
        </div>
    </div>

    <%- include('../partials/footer.ejs') %>
</body>
</html>
