html {
    height: 100%;
}
body { 
    background: linear-gradient(96deg, rgba(2,0,36,1) 0%, rgba(121,0,166,1) 100%);
    overflow: hidden;
    margin: 0;
    width: 100%;
    font-family: 'Montserrat';
  }
  #login-button{
    position: absolute;
    display: block;
    top: 27vh;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    overflow: hidden;
    color: var(--light-color--);
    text-align: center;
  }
  svg .bi .bi-person-add {
      height: 4.5rem;
      width: 4.5rem;
  }
  h1 {
    font-size: 3rem;
    margin: 1rem 0;
  }
  button#generateBtn {
    background: var(--blue-color--);
  }
  button {
    cursor: pointer;
    color: var(--light-color--);
    background: transparent;
    padding: .5rem 1.5rem;
    border-radius: 20px;
    border: 1px solid var(--light-color--);
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    display: block;
    text-align: center;
    margin: 1rem auto;
  }
  button:hover {
    color: #020202;
    background: var(--light-color--);
  }

  #quote-section {
 width: 700px;
    padding: 8% 0 0;
    margin:   0 auto;
    color: #fff;
  }
  .form, form {
    position: relative;
    z-index: 1;
    background: var(--light-color--);
    max-width: 610px;
    margin: 6vh auto;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form h2 {
    font-size: 2rem;
    margin: 1rem 0;
  }
  form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    display: block;
  }
  label {
    display: block;
    font-size: .7rem;
    text-align: left;
    float: left;
    padding: 0 0rem;
}
label input.box {
  display: inline;
  float: left !important;
  width: 1rem !important;
  padding: 0 1rem;
  margin: 0 .5rem;
  margin-bottom: 1rem;
}
span.forgot a {
  text-align: right;
  text-decoration: none;
  margin-left: 7rem;
  color: var(--dark-color--);
  transition: all .3s ease-in-out;
}
span.forgot a:hover {
  color: var(--blue-color--);
}
  .form button {
    text-transform: uppercase;
    outline: 0;
    background: var(--blue-color--);
    width: 100%;
    border: 0;
    padding: 15px;
    color: var(--light-color--);
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form button:hover,.form button:active,.form button:focus {
    background: var(--dark-color--);
  }
  .form .message {
    margin: 15px 0 0;
    color: #555555;
    font-size: 12px;
  }
  .form .message a {
    color: var(--blue-color--);
    text-decoration: none;
  }
  .form .register-form {
    display: none;
  }
  .container {
    position: relative;
    z-index: 1;
    max-width: 350px;
    margin: 0 auto;
  }
  .container:before, .container:after {
    content: "";
    display: block;
    clear: both;
  }
  .container .info {
    margin: 50px auto;
    text-align: center;
  }
  .container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
  }
  .container .info span {
    color: #3d3d3d;
    font-size: 12px;
  }
  .container .info span a {
    color: #000000;
    text-decoration: none;
  }

  .block-social {
    text-align: center;
    margin: 1rem 0;
  }
  .block-social a {
    text-decoration: none;
  }
  .block-social svg {
    fill: #838383;
    height: 1.5rem;
    width: 1.5rem;
    display: inline-block;
    padding: .5rem;
    transition: all .3s ease-in-out;
  }
  .block-social svg:hover {
    fill: var(--blue-color--);
  }
  button#add-quote-btn {
    background: var(--blue-color--);
}
  :root {
    --light-color--: #fff;
    --dark-color--: #000;
    --blue-color--: #7900a6;
  }